div.col:first-child {
  width: 65%;
}

div.col:last-child {
  width: 35%;
}

@media screen and (max-width: 920px) {
  div.col {
    width: 100% !important;
  }
  div.col:first-child {
    display: none;
  } 
}

// @media screen and (min-width: 600px) and (max-width: 768px) {
//   div.col {
//     width: 100% !important;
//   } 
// }

// @media screen and (min-width: 768px) and (max-width: 920px) {
//   div.col:first-child {
//     width: 50%;
//   }
  
//   div.col:last-child {
//     width: 50%;
//   } 
// }

@media screen and (min-width: 920px) and (max-width: 1024px) {
  div.col:first-child {
    width: 100%;
  }
  
  div.col:last-child {
    width: 100%;
  } 
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  div.col:first-child {
    width: 55%;
  }
  
  div.col:last-child {
    width: 45%;
  } 
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  div.col:first-child {
    width: 58%;
  }
  
  div.col:last-child {
    width: 42%;
  } 
}

@media screen and (min-width: 1400px) and (max-width: 1500px) {
  div.col:first-child {
    width: 60%;
  }
  
  div.col:last-child {
    width: 40%;
  } 
}