header.header {
  h3 {
    color: $title-color;
    margin-bottom: 1.1rem;
  }

  p {
    color: #AAAAAA;
    font-size: 1.2rem;
  }
}

%btnStyling {
  height: 3.5rem;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: mulish-regular;
}

.flexContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label.label {
  color: $label-color;
}

.control {
  margin-bottom: 1rem;
  line-height: 3.5;

  &:last-child {
    margin-top: 2.2rem;
  }
}

input.input {
  height: 3.5rem;
  background-color: $light;
  border: 1px solid $input-color;
  outline: none;
  padding-left: 1rem;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  font-size: 1rem;
}

input.input::placeholder {
  color: $placeholder-color;
}

button.btn {
  @extend %btnStyling;
  width: 100%;
  font-size: 1.2rem;
  background-color: $primary;
  color: $light;
  transition: background-color .5s;

  &:hover {
    background-color: #2A00A2;
  }

  &:focus {
    background-color: $primary;
    box-shadow: 0 0 0 4.4px #D6CAFA;
  }
}

p.textFoot {
  color: #8692A6;
  text-align: center;
  margin-top: 2.2rem;
}

a.link {
  color: $primary;
  font-weight: 500;
}

.socialMedia {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
}

button.socialMediaBtn {
  @extend %btnStyling;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  color: #A0A3BD;
  background-color: white;
  font-size: 1.1rem;
  width: 32%;
  border: 1px solid black;
  // padding: 1rem 2.5rem;
  // height: auto !important;
  // position: relative;
  display: flex;
  box-sizing: border-box;
  // padding: 0 1.5rem;
  align-items: center;
  justify-content: space-evenly;

  img {
    // position: absolute;
    // position: relative;
    // left: -1.5rem;
    // width: 1.3rem;
  }
}