@media screen and (max-width: 600px) {
  .img {
    display: block;
  }
}

@media screen and (max-width: 920px) {
  .img {
    display: block;
  }
  .flexContainer {
    height: auto;
    padding: 3rem 0;
  }
}

@media screen and (max-width: 920px) and (min-height: 667px) {
  .flexContainer {
    height: 100vh;
    padding: 0;
  }
}