$nav-height: 6rem;
nav.nav {
  height: $nav-height;
  width: 100%;
  position: fixed;

  .container {
    height: $nav-height;
    display: flex;
  }

  a.brand {
    width: 15%;
    height: $nav-height;
    display: flex;
    align-items: center;
  }

  a.brand > img { 
    width: 8.5rem;
  }

  ul.navList {
    width: (85% - 35%);
    display: flex;
    list-style: none;
  }

  div.navSide {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    // background-color: red;
    
    div.dropdown {
      position: relative;
      height: $nav-height;
      display: flex;
      justify-content: center;

      .link {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover  ul.dropdownList {
          display: block !important;
        }
      }

      .arrow {
        color: #414141;
        margin-left: .5rem;
      }

      &:hover > .link {
        color: $primary;
      }

      &:hover > .link > .arrow {
        color: $primary;
      }

      ul.dropdownList {
        display: none;
        top: 4.7rem;
        position: absolute;
        list-style: none;
        width: 8rem;
        height: 6rem;
        border: 1px solid  #cccccc;
        background-color: $light;
        border-radius: 4px;

        li.dropdownItem {
          width: 100%;
          height: 50%;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          padding-left: 1rem;

          a:hover {
            color: $primary;
          }
        }
      }
    }
  }

  li.navItem {
    line-height: $nav-height;
    margin-right: 3rem;

    a:hover {
      color: $primary;
    }

    &:first-child {
      display: none;
    }
  }

  a {
    text-decoration: none;
    color: #414141;
    font-size: 1rem;
  }
}

.searchBar {
  form {
    height: $nav-height;
    display: flex;
    align-items: center;
  }

  .search {
    color: #414141;
    cursor: pointer;
    margin-left: 1.9rem;
  }
}

input.input {
  border: 1px solid $input-color;
  outline: none;
  box-sizing: border-box;
  height: 3.5rem;
  width: 100%;
  border-radius: 5px;
  padding-left: 3rem;
}

.formContainer {
  width: 80%;
  position: relative;
}

input.input::-webkit-search-cancel-button {
  display: none;
}

.btnBar {
  line-height: $nav-height;
  margin-left: 2.5rem;
}

a.btn {
  border-radius: 4px;
  padding: .7rem 1.2rem;
  color: $light !important;
  background-color: $primary;
}

.searchMobile {
  position: absolute;
  left: 1rem;
  top: 2.5rem;
  color: #6E7191 !important; 
}

.burger {
  display: none;

  img {
    width: 3rem;
    cursor: pointer;
  }
}