@media screen and (min-width: 1024px) and (max-width: 1200px) {
  a.brand {
    width: 18%;
  }
  ul.navList {
    width: 42%;
  }
  div.navSide {
    width: 40%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  a.brand {
    width: 15%;
  }
  ul.navList {
    width: 40%;
  }
  div.navSide {
    width: 45%;
  }
}