@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
} 

@media screen and (min-width: 600px) and (max-width: 768px) {
  html {
    font-size: 11.5px;
  }
} 

@media screen and (min-width: 768px) and (max-width: 920px) {
  html {
    font-size: 13.5px;
  }
} 

@media screen and (min-width: 920px) and (max-width: 1024px) {
  html {
    font-size: 15px;
  }
} 