@mixin btnStyling {
  height: 3.5rem;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: mulish-regular;
}

@mixin inputStyling($height, $width) {
  height: $height;
  width: $width;
  outline: none;
  border: 1px solid $input-color;
  border-radius: 4px;
  font-family: mulish-regular;
}

