$primary: #5F2EEA;
$secondary: #1CC8EE;
$danger: #ED2E7E;
$success: #00BA88;
$warning: #F4B740;
$light: white;
$title-color: #14142B;
$label-color: #4E4B66;
$body-color: #6E7191;
$placeholder-color: #A0A3BD;
$line-color: #DEDEDE;
$input-color: #EFF0F6;
$bg: #F7F7FC;
$bg-off-white: #FCFCFC;