@media screen and (min-width: 768px) and (max-width: 920px) {
  img.img {
    width: 18rem;
  }
}

@media screen and (min-width: 920px) and (max-width: 1024px) {
  img.img {
    width: 20rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  p.subtitle {
    width: 25rem;
  } 
}